$primary-color: #DC7633;
$secondary-color: #99A3A4;
$accent-color: #22c3f4;
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F3F4;
    font-family: "Montserrat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spacer {
    margin: 5em;
}

.center {
    align-items: center;
    text-align: center;
    margin: 16em auto;
    width: 60%;
    padding: 10px;
}

@mixin transition-ease {
    transition: all 0.15s ease-in-out;
}