// config file for settings and effects
$primary-color: #DC7633;
$secondary-color: #99A3A4;
$accent-color: #22c3f4;
// reset margin and padding in all elements
* {
    margin: 0;
    padding: 0;
}

// set main body values
body {
    font-family: "Montserrat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// remove unwanted a tag content
a {
    text-decoration: none;
}

// add font weight
h1,
h2,
h3 {
    font-weight: 400;
}

// space between
.spacer {
    margin: 5em;
}

#parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    background-image: url('/images/backdrop-blurred.jpg');
    background-repeat: repeat;
    background-position: center;
    background-position: 50% 50%;
    z-index: -1;
}

// class for centering and adding space around it
.center {
    align-items: center;
    text-align: center;
    margin: 16em auto;
    width: 60%;
    padding: 10px;
}

// smaller than the above code
.center-small {
    align-items: center;
    text-align: center;
    margin: 12em auto;
    width: 60%;
    padding: 10px;
}

.center-mini {
    align-items: center;
    text-align: center;
    margin: 6em auto;
    width: 60%;
    padding: 10px;
}

.BeforeScroll {
    display: none;
}

.AfterScroll {
    display: block;
    animation: fadeEffect 1.5s;
    /* fading effect takes 3s */
}

@keyframes fadeEffect {
    /* from 0 to full opacity */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// for smooth transitions between frames
@mixin transition-ease {
    transition: all 0.15s ease-in-out;
}

// Screen size setting for different screen sizes
@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (min-width: 64em) {
            @content ;
        }
    }
    @else if $point==tablet {
        @media (min-width: 50em) {
            @content ;
        }
    }
    @else if $point==phablet {
        @media (min-width: 37.5em) {
            @content ;
        }
    }
    @else if $point==mobileonly {
        @media (max-width: 37.5em) {
            @content ;
        }
    }
}