// scss for info page
.profBoxDivider {
    margin-top: 10em;
    display: flex;
    gap: 6em;
    overflow: hidden;
    @include breakpoint(mobileonly) {
        display: block;
        gap: 1em;
        margin-top: 5em;
        overflow: visible;
    }
    justify-content: center;
    .box {
        background-color: gainsboro;
        box-shadow: 2px 2px 4px gray;
        padding: 1em;
        width: 35%;
        @include breakpoint(mobileonly) {
            padding: 0.5em;
            width: 100%;
        }
        border: 1px solid black;
        text-align: center;
        h1 {
            color: $accent-color;
            @include breakpoint(mobileonly) {
                font-size: 1.5em;
            }
        }
        h2 {
            margin-bottom: 1em;
        }
        p {
            font-size: larger;
            @include breakpoint(mobileonly) {
                font-size: medium;
            }
        }
        button {
            margin: auto auto;
            display: block;
            width: 24vh;
            height: 6vh;
            font-size: large;
            margin-top: 1em;
            background-color: $accent-color;
            border: none;
            &:hover {
                cursor: pointer;
                background-color: #85C1E9;
            }
        }
        img {
            box-shadow: 2px 2px 3px black;
            width: 100%;
            height: 12em;
        }
    }
}

ul {
    padding: 2em;
    font-size: medium;
}

.profInfo {
    h1 {
        margin-bottom: 0.1em;
        font-size: 3em;
    }
    p {
        font-size: larger;
        margin-bottom: 2em;
    }
    button {
        width: 26vh;
        height: 8vh;
        font-size: large;
        margin: 1.5em;
        background-color: $accent-color;
        border: none;
        &:hover {
            cursor: pointer;
            background-color: #85C1E9;
        }
    }
}