extends default 
block content 
    div#parallax.parlx5
    .cont
        .box 
            div.pic
            h1 
                b IT Akadeemia programm 
            p IT Akadeemia programm on Eesti riigi, ülikoolide ja IKT (info- ja kommunikatsioonitehnoloogia) sektori ettevõtete koostööprogramm, mille eesmärgid on valdkonna jaoks vajaliku tööjõuressursi tagamine ning eelduste loomine IKT abil majanduskasvu saavutamiseks  konkurentsivõimelise IKT hariduse pakkumise kaudu Eesti ja välisriikide tudengitele. IT Akadeemia programm aitab tõsta IKT kõrghariduse kvaliteeti ja konkurentsivõimet ning turustada IKT kõrgharidust. Programmi strateegilise juhtimisega tegeleb IT Akadeemia programmi juhtkomisjon. 

            h1 
                b IT Akadeemia programmi visioon 
            p IT Akadeemia programm toetab Eesti ülikoolides IKT ja IKT-ga põimitud õppekavadel rahvusvaheliselt konkurentsivõimelist õppetööd, et tagada sektori tööjõuvajadust ning Eesti teaduse, tööstuse ning laiemalt kogu ühiskonna kiire jätkusuutlik areng.
            
            h2 
                b Ressursid
            p Tarkvaraarendaja parendatud õppekava  - 
             a(href="https://www.riigiteataja.ee/akt/119072019001") link
            p IT-süsteemide spetsialisti parendatud õppekava - 
             a(href="https://www.riigiteataja.ee/akt/114042020002") link
            p ITA Kutsehariduse pilootprogramm - 
             a(href="https://harno.ee/sites/default/files/documents/2021-05/ITA%20Kutsehariduse%20pilootprogramm.pdf") link
            p IT Akadeemia programm - 
             a(href="https://harno.ee/it-akadeemia-programm") link
            p Tarkvaraarendaja õppekava - 
             a(href="https://siseveeb.voco.ee/veebivormid/oppekavad/oppekava_pdf?oppekava=611") link
            p IT-süsteemide spetsialisti õppekava - 
             a(href="https://siseveeb.voco.ee/veebivormid/oppekavad/oppekava_pdf?oppekava=597") link
