extends default 
block content 
    .cont
        .box 
            h1 IT Akadeemia programm 
            p IT Akadeemia programm on Eesti riigi, ülikoolide ja IKT (info- ja kommunikatsioonitehnoloogia) sektori ettevõtete koostööprogramm, mille eesmärgid on valdkonna jaoks vajaliku tööjõuressursi tagamine ning eelduste loomine IKT abil majanduskasvu saavutamiseks  konkurentsivõimelise IKT hariduse pakkumise kaudu Eesti ja välisriikide tudengitele. IT Akadeemia programm aitab tõsta IKT kõrghariduse kvaliteeti ja konkurentsivõimet ning turustada IKT kõrgharidust. Programmi strateegilise juhtimisega tegeleb IT Akadeemia programmi juhtkomisjon. 

            h1 IT Akadeemia programmi visioon 
            p IT Akadeemia programm toetab Eesti ülikoolides IKT ja IKT-ga põimitud õppekavadel rahvusvaheliselt konkurentsivõimelist õppetööd, et tagada sektori tööjõuvajadust ning Eesti teaduse, tööstuse ning laiemalt kogu ühiskonna kiire jätkusuutlik areng.
