doctype html
html
    head
        meta(encoding="UTF-8")
        title It-Academia
        link(rel="stylesheet" href="./style/main.min.css")
        link( href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
    body 
        block content
        include footer