.footer 
    .logo
        img(src="/images/VOCO.svg")
    .cont1
        h2 Kontakt
        h3 
            a info@voco.ee
        h3 7 361 810
    .cont2
        h2 Voco 
        h3 Kopli 1
        h3 Tartu 50115
    .cont3 
        h2 Privaatsustingimused
        h3 
            a Andmekaitse
        h3 
            a Küpsised