extends default 

block content 
    // include navigation from navigation.pug
    include navigation
    // spacer
    .spacer

    // first piece header
    .piece1.center
        h1 IT-Academy 
        p Requires work, but the outcome is fabulous
        p #coding
    
    // second piece what we give
    .piece2.center
        .background
        .text
            h1 Mida pakume
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, non! Totam eum ducimus dicta amet perspiciatis quod corrupti, reiciendis quo neque eius necessitatibus, asperiores saepe odio debitis similique enim impedit iste suscipit quisquam molestias voluptatum? Eaque, velit enim maxime recusandae corrupti quo et voluptatibus, numquam provident consectetur, nobis laborum aut accusantium perferendis.
    
    // third piece professions
    .piece3.center-small
        a(href="/info").prof1 
            h2 ITA
            h1 Tarkvara Arendaja
            

        a(href="/info").prof2 
            h2 ITS 
            h1 IT-Süsteemide Spetsialist
    .piece4.center 
        .newsGrid
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis
    .newsletter.center-small 
        .newsletterBox
            .content 
                h1 Liitu uudiskirjaga
                h3 Saa meilt uusimaid uudiseid IT-eriala kohta
                button 
                    b Telli uudiskiri