extends default 

block content 
    div#parallax.parlx1
    // spacer
    .spacer

    // first piece header
    .piece1.center
        h1 IT-Akadeemia 
        p Vajab tööd, kuid tulemus on imeline
        p #programmeerimine
    
    // second piece what we give
    .piece2.center
        .background
        .text
            h1
                b Iga loll oskab kirjutada koodi, millest arvuti aru saab. Head programmeerijad kirjutavad koodi, millest inimesed aru saavad.
            p  - Martin Fowler
    
    // third piece professions
    .piece3.center-small#divToShowHide.BeforeScroll
        a(href="/info").prof1 
            h2 ITA
            h1 Tarkvaraarendaja
            

        a(href="/info").prof2 
            h2 ITS 
            h1 IT-Süsteemide Spetsialist
    
    // fourth piece news grid
    .piece4.center
        .newsGrid
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis
            .news-item
                img(src="./images/placeholder_square.png")
                h1 uudis

    // receive news and messages on joining
    .newsletter.center-small 
        .newsletterBox
            .content 
                h1 Liitu uudiskirjaga
                h3 Saa meilt uusimaid uudiseid IT-eriala kohta
                button(onclick="pressed()")
                    b Telli uudiskiri