extends default 
block content 
    div#parallax.parlx3
    .spacer 
        .profBoxDivider
            .box
                img(src="./images/prog_banner.jpg")
                h1 
                    b Tarkvaraarendaja 
                h2 
                    b ITA 
                p Tarkvaraarendaja on kõrgelt hinnatud spetsialist, kelle põhiliseks tööks on tarkvara lähtekoodi kirjutamine. Tarkvara arendajat läheb vaja kui soovitakse luua näiteks kodulehte, mitmesuguseid e-teenuseid nagu broneerimissüsteemid või e-poed või hoopis andmebaaside keskkondi, mobiilirakendusi, mänge või muud sellist. Hea tarkvara arendaja osaleb loodava keskkonna struktuuri ja süsteemi loomisel, ta tunneb ja oskab välja pakkuda erinevaid tehnilisi lahendusi, kuidas süsteem kõige paremini töötaks. Ta oskab testida ja teostatud töid dokumenteerida, süsteeme hooldada ning ennetada rünnakuid ja andmelekkeid.

                button(onclick="toTp()")
                    b vaata tunniplaani
            .box
                img(src="./images/system-banner.png")
                h1 
                    b IT-süsteemide spetsialist 
                h2 
                    b ITS 
                p IT-süsteemide spetsialisti tööpõld on tänaseks piiritult lai. Kui soovid tulevikus olla tegija IT-taristu arendamise, arvutisüsteemide haldamise vallas ning sulle pakub pinget nii teiste kui omaloodud süsteemide testimine ja seire, siis on Tartu Rakendusliku Kolledži IT-akadeemia õige valik. Päevakohase riist- ja tarkvarga arvutiklassides ning laborites õpetavad igapäevaselt valdkonna spetsialistid, samuti kaasatakse õppetöösse erialapraktikuid ettevõtetest. Igapäevast töökeeleoskust arendab lisaks inglisekeelsete õppematerjalide kasutamine.
                button(onclick="toTp()")
                    b vaata tunniplaani
                
        .center-small.profInfo 
            h1 
                b Õppimisel saad järgmised oskused:
            .profBoxDivider
                .box 
                    p 
                        b |
                    ul
                        li oskab tarkvara lähtekoodi vastavalt väljatöötatud arhitektuurile ning disainile;
                        li osaleb tarkvara lahenduse väljatöötamisel ja pakub välja erinevaid tehnilisi lahendusi, arvestades süsteemi kui tervikut;
                        li kavandab ja töötab välja  rakenduse;
                        li integreerib süsteemid, testib ja võtab lahenduse kasutusele;
                        li oskab leida ebakõlasid ülesande püstitusel ja anda sisendit ülesande täpsustamiseks ning muudatuste ja arenduste testimiseks;
                        li töötab meeskonnas ja lahendab ülesandeid iseseisvalt, mõistes ja rakendades meeskonnas kasutatavat tarkvara arenduse metoodikat;
                        li suudab oma tööd iseseisvalt organiseerida ja aega planeerida ning vastutust võtta;
                        li on hea meeskonnaliige ka rahvusvahelistes tiimides;
                        li on läbinud laia matemaatika, emakeele ja inglise keele õppekava ning on sooritanud riigieksamid;
                        li on sooritanud tarkvaraarendaja 4. taseme kutseeksami
                .box 
                    p 
                        b |
                    ul 
                        li arendab organisatsiooni IT-taristut – pakub välja ja juurutab erinevaid tehnilisi lahendusi, arvestades süsteemi kui tervikut;
                        li tunneb IT-süsteemide riistvara;
                        li mõistab arvutivõrgu aluseid ja oskab rakendada võrguseadmeid;
                        li haldab arvutivõrke ja võrguteenuseid;
                        li haldab majutuskeskkonna riistvara ja klientseadmeid;
                        li haldab Windows ja Linux/BSD-operatsioonisüsteeme;
                        li tunneb skriptimisvahendeid ning automatiseerib võimalusel haldustegevusi;
                        li valdab pilveteenuste haldust;
                        li pakub kasutaja- ja muudatuste tuge;
                        li osutab teenuseid ja pakub infoturbe tuge;
                        li lahendab standardseid IT-probleeme
                        li oskab koostada vajalikku dokumentatsiooni;
                        li töötab meeskonnas ja lahendab ülesandeid iseseisvalt ka rahvusvahelistes tiimides;
                        li suudab oma tööd iseseisvalt organiseerida ja aega planeerida ning vastutust võtta;
                        li on läbinud laia matemaatika, emakeele ja inglise keele õppekava ning on sooritanud riigieksamid;
                        li sooritab õpingute lõpus IT-süsteemide spetsialisti 4. taseme kutseeksami.
        .center-mini.profInfo
            h1 
                b Tähelepanu, valmis olla, tuld!
            h1 
                b Avame e-vastuvõtu 21. aprillil
            p Tutvu sisseastumisinfoga allpool.
            button(onclick='toSisse("ita")') 
                b Tarkvaraarendaja
            button(onclick='toSisse("no")')
                b IT-süsteemide spetsialist
