// navigation instance for global alignment
.navigationMenu
    bg
    div.linkGroup
        a(href="/") Pealeht
        a.none | 
        a(href="/news") Uudised
        a.none | 
        a(href="/info") Info
        a.none | 
        a(href="/tunniplaan") Tunniplaan
        a.none |
        a(href="/aboutus") Meie
    hg