.navigationMenu
    bg
    div.linkGroup
        a(href="/") Home
        a.none | 
        a(href="/news") News
        a.none | 
        a(href="/info") Info
        a.none | 
        a(href="/tunniplaan") Study Schedule
        a.none |
        a(href="/aboutus") About us 
    hg