// navigation instance for global alignment
.navigationMenu
    bg
    div.linkGroup
        a(href="/") Pealeht
        a.none | 
        a(href="/uudised") Uudised
        a.none | 
        a(href="/info") Info
        a.none | 
        a(href="/tp") Tunniplaan
        a.none |
        a(href="/meie") Meie
    hg