.navigationMenu
    h1.l 
        a(href="https://voco.ee") Voco
    div.linkGroup
        a(href="/news") News
        a.none | 
        a(href="/info") Info
        a.none | 
        a(href="/tunniplaan") Study Schedule
        a.none |
        a(href="/aboutus") About us 
    h1.r 
        a IT-Academy