.navigationMenu
    h1.l Voco
    div.linkGroup
        a(href="#") News
        a.none | 
        a(href="#") Info
        a.none | 
        a(href="#") Study Schedule
        a.none |
        a(href="#") About us 
    h1.r It-Academy