extends default 
block content 
    .center-small
        .newsBlock
            .news__item 
                img(src="/images/placeholder_square.png", alt="")
                h2 Uudis 
                h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, a ab voluptates eum vero suscipit voluptatibus ad, dicta, voluptas itaque modi dignissimos mollitia enim aspernatur? Quas sapiente quod laboriosam illum.    
            .news__item 
                img(src="/images/placeholder_square.png", alt="")
                h2 Uudis 
                h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, a ab voluptates eum vero suscipit voluptatibus ad, dicta, voluptas itaque modi dignissimos mollitia enim aspernatur? Quas sapiente quod laboriosam illum.
            .news__item 
                img(src="/images/placeholder_square.png", alt="")
                h2 Uudis 
                h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, a ab voluptates eum vero suscipit voluptatibus ad, dicta, voluptas itaque modi dignissimos mollitia enim aspernatur? Quas sapiente quod laboriosam illum.
            .news__item 
                img(src="/images/placeholder_square.png", alt="")
                h2 Uudis 
                h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, a ab voluptates eum vero suscipit voluptatibus ad, dicta, voluptas itaque modi dignissimos mollitia enim aspernatur? Quas sapiente quod laboriosam illum.
            .news__item 
                img(src="/images/placeholder_square.png", alt="")
                h2 Uudis 
                h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, a ab voluptates eum vero suscipit voluptatibus ad, dicta, voluptas itaque modi dignissimos mollitia enim aspernatur? Quas sapiente quod laboriosam illum.
